.container {
    width: 300px;
    height: 450px;
    margin: auto;
    overflow: auto;
    border: 3px solid rgb(232, 151, 151);
    padding: 15px;
}

.container img {
    float: left;
}

p {
    float: left;
}

.container .para {
    clear: both;
}