* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards-container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    background: violet;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}
.card {
    width: 60%;
    height: 50px;
    background: orangered;
    color: #fff;
    text-align: center;
    margin: 10px;
    padding: 10px;
     /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;  */
    flex: 1 1 100px;
}

.inner-card p {
    font-size: 14px;
}