div {
    padding: 20px;
}

div img {
    animation: slide 0.5s forwards;
    transform: translateY(350px) scale(0.3);
    opacity: 0;
    padding: 5px;
}

@keyframes slide {
    to {
        opacity: 1;
        transform: none;
    }
}