* {
    color: aquamarine;
}

p {
    color: red; 
}

p {
   /* this will be prefered */
    color: rgb(10, 68, 68);
    font-size: 20px;
    font-size: 40px;  /* this will be prefered */
}
 .para {
    color: black;
}

#para {
    color: blue; 
} 
header p {
    color: darkgreen;
}